extends layout

block content
  script(type="text/javascript" src="https://www.google.com/jsapi")
  script(type="text/javascript").
    var user = !{JSON.stringify(currentUser)}

  #dashboard-page(ng-controller="DashController", ng-init="savedPolls=filterPollData(#{JSON.stringify(pollData)})")
    #dashboard
        #dashboard-auth
          h1 Dashboard
          p What would you like to do?
          div#dashboard-newpoll.btn(ng-click="selectPanel(0)") New Poll
          div#dashboard-mypolls.btn(ng-click="selectPanel(1)") My Polls
          
    #body-dash.container
      ul.nav.nav-pills
        li(ng-class="{active: isSelected(0)}")
          a(ng-click="selectPanel(0)") New Poll
        li(ng-class="{active: isSelected(1)}")
          a(ng-click="selectPanel(1)") My Polls
      #body-newpoll.panel(ng-show="isSelected(0)")
        #newpoll-inputs.row
          input#poll-name(type="text", placeholder="Poll Name", ng-model="pollName")
          i#spec.fa.fa-times
          br
          input.poll-option(type="text", placeholder="Option")
          i.fa.fa-times
          br
          input.poll-option(type="text", placeholder="Option")
          i.fa.fa-times
        #newpoll-buttons.row
          div#poll-more-btn.btn(ng-click="addOption()") More Options
          div#poll-save-btn.btn(ng-click="savePoll()") Save
      #body-mypolls.panel(ng-show="isSelected(1)")
        #mypolls-polls
          div.row.saved-poll.container-fluid(ng-repeat="poll in savedPolls track by $index", ng-click="selectPoll($index)")
            h3 {{poll.name}}
            div.row(ng-repeat="option in poll.options")
              label.option {{option.name}} 
              label.result {{option.value}}
              br
            label.url http://127.0.0.1:3000/{{user.username}}/{{poll.name}}
            div.row(ng-show="pollSelected($index)")
              div.poll-graph(ng-attr-id="{{'poll-' + $index}}")
              br
              div#twitter-share.btn(ng-click="sharePoll($index)") #[i.fa.fa-twitter] Share on Twitter
              div#poll-remove-btn.btn(ng-click="removePoll($index)") Remove
      #body-success.panel(ng-show="isSelected(2)")
        h1 Success!
        h3 Your new poll can be found at:
        p {{newLink}}
      #footer
          p Graphs powered by #[a(href="https://developers.google.com/chart/?hl=en", target="_blank") Google Charts] 
              
