extends layout

block content
  #dashboard-page(ng-controller="DashController")
    #dashboard
        #dashboard-auth
          h1 Dashboard
          p What would you like to do?
          div#dashboard-newpoll.btn New Poll
          div#dashboard-mypolls.btn My Polls
          
    #body.container
      #body-mypolls
        p My Polls
      #body-newpoll
        p New Poll
