extends layout

block content
  #home-page(ng-controller="HomeController")
    #dashboard
      #dashboard-home
        h1 MaxVote
        p Create custom polls with live results.
        div#dashboard-signup.btn Sign Up
      
    #body.container
      #body-home
        div.row
          div.col-sm-4
            i#chart-icon.fa.fa-area-chart
            h3 Live Results
            p Immediately see the results of your polls in a variety of easy to understand ways.
          div.col-sm-4
            i#road-icon.fa.fa-road
            h3 Works Everywhere
            p Your polls will not only work on desktops, but tablets and smartphones as well.
          div.col-sm-4
            i#twitter-icon.fa.fa-twitter
            h3 Social Connection
            p Our polls are easily integrated with social networking in order to quickly spread the word.
        
    #footer.navbar-fixed-bottom
        p #[a(href="http://www.freecodecamp.com/masharp", target="_blank") Michael Sharp] for FreeCodeCamp
