extends layout

block content

  nav#nav.navbar.navbar-default.navbar-static-top
    div.container
        ul.nav.navbar-nav
          li
              a.navbar-brand(href) MaxVote
          li.active
              a#home-btn(href ng-click="page.selectView(0)") Home
        ul.nav.navbar-nav.navbar-right
          li
            a#signup-btn(href ng-click="page.selectView(1)" ng-show="!page.authUser") Sign Up
          li
            a#login-btn(href ng-click="page.selectView(2)" ng-show="!page.authUser") Log In
          li
            a#welcome-nav(ng-show="page.authUser") Hello, {{page.username}}
          li
            a#settings-btn(href ng-click="page.selectView(3)" ng-show="page.authUser") #[i.fa.fa-cog]
          li
            a#logout-btn(href ng-click="page.selectView(4)" ng-show="page.authUser") Log Out
  #dashboard
    h1 MaxVote
    p Create custom polls with live results.
    button.btn(ng-show="page.isSelected(0)") Sign Up
    
  #body.container(ng-show="page.isSelected(0)")
    div.row
      div.col-sm-4
        i#chart-icon.fa.fa-area-chart
        h3 Live Results
        p Immediately see the results of your polls in a variety of easy to understand ways.
      div.col-sm-4
        i#road-icon.fa.fa-road
        h3 Works Everywhere
        p Your polls will not only work on desktops, but tablets and smartphones as well.
      div.col-sm-4
        i#twitter-icon.fa.fa-twitter
        h3 Social Connection
        p Our polls are easily integrated with social networking in order to quickly spread the word.
    
    #signup.container(ng-show="page.isSelected(1)")
      
  
  #footer.navbar-fixed-bottom(ng-show="page.isSelected(0)")
      p #[a(href="http://www.freecodecamp.com/masharp", target="_blank") Michael Sharp] for FreeCodeCamp
