extends layout

block content

  nav#nav.navbar.navbar-default.navbar-static-top
    div.container
        ul.nav.navbar-nav
          li
              a.navbar-brand(href="") MaxVote
          li.active
              a(href="") Home
        ul.nav.navbar-nav.navbar-right
          li
            a(href="") Sign Up
          li
            a(href="") Log In
            
  #title
    h3 MaxVote
    p Create custom polls with live results.
    
  #body
    div.row
      div.span3
        p stuff
      div.span3
        p stuff
      div.span3
        p stuff
