doctype html
html(ng-app="votingApp")
  head
    title= title
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/javascripts/global.js")
    
    link(rel="stylesheet", href="/stylesheets/style.css")
    
  body
    #main-ctrl
      nav#nav.navbar.navbar-default.navbar-static-top
        div.container
            ul.nav.navbar-nav
              li
                  a.navbar-brand(href) MaxVote
              li.active
                  a#home-btn Home
            ul.nav.navbar-nav.navbar-right
              li
                a#signup-btn Sign Up
              li
                a#login-btn Log In
              li
                a#welcome-nav Hello
              li
                a#settings-btn #[i.fa.fa-cog]
              li
                a#logout-btn Log Out
    
    block content
