doctype html
html(ng-app="votingApp")
  head
    title= title
    
    meta(charset="utf-8")
    meta(description content="A social polling app.")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    
    script(src="/javascripts/global.js")
    link(rel="stylesheet", href="/stylesheets/style.css")
    
  body
    #main-ctrl(ng-controller="NavController", ng-init="user= #{JSON.stringify(currentUser)}")
      nav#nav
        #top.container
          a(href, ng-click="changePage(0)") MaxVote
          div#home-btn(ng-click="chnagePage(0)") Home
          div#login-btn.pull-right(ng-show="!data.authUser", ng-click="changePage(2)") Sign In
          div#welcome-nav.pull-right(ng-show="data.authUser") Hello, {{data.name}}
          div#logout-btn.pull-right(ng-show="data.authUser", ng-click="logout()")
    
    block content
