doctype html
html(ng-app="votingApp")
  head
    title= title
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/javascripts/global.js")
    
    link(rel="stylesheet", href="/stylesheets/style.css")
    
  body
    #main-ctrl(ng-controller="NavController")
      nav#nav.navbar.navbar-default.navbar-static-top
        div.container
            ul.nav.navbar-nav
              li
                  a.navbar-brand(href, ng-click="changePage(0)") MaxVote
              li(ng-class="{active: cookie == 0 || cookie == 5}")
                  a#home-btn(href, ng-click="changePage(0)") Home
            ul.nav.navbar-nav.navbar-right
              li(ng-class="{active: cookie == 1}")
                a#signup-btn(href, ng-show="!data.authUser", ng-click="changePage(1)") Sign Up
              li(ng-class="{active: cookie == 2}")
                a#login-btn(href, ng-show="!data.authUser", ng-click="changePage(2)") Log In
              li
                a#welcome-nav(ng-show="data.authUser") Hello, {{data.username}}
              li(ng-class="{active: cookie == 3}")
                a#settings-btn(href, ng-show="data.authUser",ng-click="changePage(3)") #[i.fa.fa-cog]
              li
                a#logout-btn(href, ng-show="data.authUser", ng-click="changePage(4)") Log Out
    
    block content
