extends layout  

block content
  #login-page(ng-controller="LoginController")  
    #dashboard
      #dashboard-home
        h1 MaxVote
        p Create custom polls with live results.
    
    #body.container          
      #body-login
        div#twitter-login.btn(ng-click="authenticateUserTwitter()") #[i.fa.fa-twitter] Sign in with Twitter
            
// ng-init="usersData=#{JSON.stringify(userData)}"
