extends layout

block content
  
  div#main-ctrl(ng-controller="PageController")
    nav#nav.navbar.navbar-default.navbar-static-top
      div.container
          ul.nav.navbar-nav
            li
                a.navbar-brand(href) MaxVote
            li
                a#home-btn(href ng-click="selectView(0)") Home
          ul.nav.navbar-nav.navbar-right
            li
              a#signup-btn(href ng-click="selectView(1)" ng-show="!authUser") Sign Up
            li.active
              a#login-btn(href ng-click="selectView(2)" ng-show="!authUser") Log In
            li
              a#welcome-nav(ng-show="authUser") Hello, {{username}}
            li
              a#settings-btn(href ng-click="selectView(3)" ng-show="authUser") #[i.fa.fa-cog]
            li
              a#logout-btn(href ng-click="selectView(4)" ng-show="authUser") Log Out
    #dashboard
      #dashboard-home(ng-show="!authUser")
        h1 MaxVote
        p Create custom polls with live results.
        div#dashboard-signup.btn(ng-show="isSelected(0)", ng-click="selectView(1)") Sign Up
              
    #body-login(ng-show="isSelected(2)")
      div.row
        label Email
        br
        input#login-email(type="email")
      div.row
        label Password
        br
        input#login-pass(type="password")
      div.row
        div#generic-login.btn Log in
        div#twitter-login.btn #[i.fa.fa-twitter] Sign in with Twitter
