extends layout

block content
  #settings-page(ng-controller="SettingsController")
    #dashboard
      #dashboard-auth
        h1 Settings
        p Change your password?
    
    #body.container
      #body-settings
        div.row
          label Current Password
          br
          input#settings-current(type="password", ng-model="current", ng-keyup="handleEnterKey($event)")
          br
          label#current-pass-fail.fail-label Your current password is incorrect.
        div.row
          label New Password
          br
          input#settings-new(type="password", ng-model="new", ng-keyup="handleEnterKey($event)")
          br
          label#new-pass-fail.fail-label Your password must be at least 5 characters long.
        div.row
          div#settings-btn.btn(ng-click="submitNewPassword()") Confirm
