extends layout

block content
  #settings-page(ng-controller="SettingsController")
    #dashboard
      #dashboard-auth
        h1 Settings
        p Change your password?
    
    #body.container
      #body-settings
        div.row
          label Current Password
          br
          input#settings-current(type="password")
        div.row
          label New Password
          br
          input#settings-new(type="password")
        div.row
          div#settings-btn.btn Confirm
