extends layout

block content
  #settings-page(ng-controller="SettingsController")
    #dashboard
      #dashboard-auth
        h1 Dashboard
        p What would you like to do?
        div#dashboard-newpoll.btn New Poll
        div#dashboard-mypolls.btn My Polls
    
    #body.container
      #body-settings
        div.row
          label Current Password
          br
          input#settings-current(type="password")
        div.row
          label New Password
          br
          input#settings-new(type="password")
        div.row
          div#settings-btn.btn Confirm
