extends layout

block content
  #signup-page(ng-controller="SignupController")
    #dashboard
      #dashboard-home
        h1 MaxVote
        p Create custom polls with live results.
        
    #body.container          
      #body-signup 
        div#twitter-signup.btn(ng-click="signupTwitter()") #[i.fa.fa-twitter] Connect with Twitter
