extends layout

block content
  #signup-page(ng-controller="SignupController")
    #dashboard
      #dashboard-home
        h1 MaxVote
        p Create custom polls with live results.
        
    #body.container          
      #body-signup 
        div.row
          label Name
          br
          input#signup-name(type="input")
          br
          label#name-fail.fail-label Please input a name.
        div.row
          label Email
          br
          input#signup-email(type="email")
          br
          label#email-fail.fail-label Please input an email (jo@joey.net).
        div.row
          label Password
          br
          input#signup-pass(type="password")
          br
          label#password-fail.fail-label Please input a password that is at least 5 characters long.
        div.row
          div#generic-signup.btn(ng-click="signupGeneric()") Sign up
          div#twitter-signup.btn(ng-click="signupTwitter()") #[i.fa.fa-twitter] Connect with Twitter
