extends layout

block content
  #signup-page(ng-controller="SignupController")
    #dashboard
      #dashboard-home
        h1 MaxVote
        p Create custom polls with live results.
        div#dashboard-signup.btn Sign Up
        
    #body.container          
      #body-signup 
        div.row
          label Name
          br
          input#signup-name
        div.row
          label Email
          br
          input#signup-email
        div.row
          label Password
          br
          input#signup-pass
        div.row
          div#generic-signup.btn Sign up
          div#twitter-signup.btn #[i.fa.fa-twitter] Connect with Twitter
