$main-color: #A0785A;
$accent-color: #325B7A;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
#nav {
  margin-bottom: 0;

  #settings-btn {
    font-size: 1.2em;
  }
}
#dashboard {
  background-color: $main-color;
  padding: 30px;
  text-align: center;
  color: white;
  margin-bottom: 20px;

  h1 {
    font-size: 4em;
  }
  p {
    padding-bottom: 15px;
    font-size: 1.2em;
  }
  #dashboard-signup {
    background-color: $accent-color;
    color: white;
    width: 10em;
    font-weight: bold;

    &:hover {
      background-color: darken($accent-color, 10);
    }
  }
  #dashboard-auth {
    #dashboard-newpoll {
      background-color: green;
      color: white;
      margin-right: 30px;
      width: 10em;
      font-weight: bold;

      &:hover {
        background-color: darken(green, 10);
      }
    }
    #dashboard-mypolls {
      background-color: $accent-color;
      color: white;
      width: 10em;
      font-weight: bold;

      &:hover {
        background-color: darken($accent-color, 10);
      }
    }
  }
}
#body, #body-dash {
  text-align: center;

  i {
    font-size: 4em;
  }
  #chart-icon {
    color: yellow;
  }
  #road-icon {
    color: green;
  }
  #twitter-icon {
    color: #55ACEE;
  }
  #body-signup, #body-login, #body-settings {
    text-align: left;

    .fail-label {
      color: red;
    }
    label {
      margin-top: 5px;
    }
    input {
      margin-bottom: 15px;
      width: 50%;
    }
    .btn {
      margin-right: 50px;
    }
    #generic-signup, #generic-login {
      background-color: green;
      color: white;
      &:hover {
        background-color: darken(green, 10);
      }
    }
    #twitter-signup, #twitter-login {
      background-color: #55ACEE;
      color: white;
      margin-right: 50px;
      i {
        font-size: 1em;
      }
      &:hover {
        background-color: darken(#55ACEE, 10);
      }
    }
  }
  #body-settings {
    text-align: left;

    label {
      margin-top: 5px;
    }
    input {
      margin-bottom: 20px;
      width: 50%;
    }
    #settings-btn {
      background-color: red;
      color: white;
      &:hover {
        background-color: darken(red, 10);
      }
    }
  }
}
#body-dash {
  text-align: center;

  ul {
    padding-top: 10px;
    display: inline-block;
  }
  a:hover {
    cursor: pointer;
  }
  li {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  #newpoll-inputs {
    #poll-name {
      margin-bottom: 5px;
    }
    #spec {
      color: white;
      pointer-events: none;
    }
    i {
      font-size: 1.5em;
      padding-left: 5px;
      color: red;
      &:hover {
        cursor: pointer;
        font-size: 2em;
      }
    }
  }
  #newpoll-buttons {
    padding-top: 10px;

    #poll-more-btn {
      background-color: gray;
      color: white;
      margin-right: 10px;
      &:hover {
        background-color: darken(gray, 10);
      }
    }
    #poll-save-btn {
      background-color: green;
      color: white;
      &:hover {
        background-color: darken(green, 10);
      }
    }
  }
  #body-mypolls {
    #mypolls-polls {
        display: inline-block;
        margin: 0 auto;

      h3 {
        font-size: 1.3em;
        padding-left: 10px;
        padding-right: 10px;
      }
      .saved-poll {
        margin-bottom: 30px;

        .option {
          color: green;
        }
        .result {
          text-align: center;
          padding-left: 20px;
        }
        .poll-graph {
          display: inline-block;
          width: 250px;
        }
        #poll-remove-btn {
          background-color: red;
          color: white;
          padding-right: 10px;
          margin-bottom: 10px;
          &:hover {
            background-color: darken(red, 10);
          }
        }
        #twitter-share {
          background-color: #55ACEE;
          color: white;
          padding-left: 10px;
          margin-right: 10px;
          margin-bottom: 10px;
          i {
            font-size: 1.2em;
          }
          &:hover {
            background-color: darken(#55ACEE, 10);
          }
        }
        &:hover {
          box-shadow: 5px 5px 10px #000;
          cursor: pointer;
        }
      }
    }
  }
}
#footer {
  padding-top: 50px;
  text-align: center;
}
