body {
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 650px) {
    body {
      font-size: 12px; } }
  @media (min-width: 650px) and (max-width: 900px) {
    body {
      font-size: 13px; } }
  @media (min-width: 900px) {
    body {
      font-size: 16px; } }

#nav {
  margin-bottom: 0; }
  #nav #top {
    background-color: #f7f7f7;
    width: 100%;
    height: 3em;
    padding: .5em 1em .5em 1em;
    color: #737373; }
    #nav #top a {
      font-size: 1.2em;
      text-decoration: none;
      color: #737373;
      font-weight: bold; }
    #nav #top #home-btn {
      display: inline;
      margin-left: .5em;
      padding: .5em; }
      #nav #top #home-btn:hover {
        cursor: pointer; }
    #nav #top #login-btn, #nav #top #welcome-btn, #nav #top #logout-btn {
      padding: .4em; }
      #nav #top #login-btn:hover, #nav #top #welcome-btn:hover, #nav #top #logout-btn:hover {
        cursor: pointer; }
    #nav #top #top-buttons {
      display: inline; }

#dashboard {
  background-color: #A0785A;
  padding: 2em;
  text-align: center;
  color: white;
  margin-bottom: 1.2em; }
  #dashboard h1 {
    font-size: 4em; }
  #dashboard p {
    padding-bottom: .9em;
    font-size: 1.2em; }
  #dashboard #dashboard-signup {
    background-color: #325B7A;
    color: white;
    width: 10em;
    font-weight: bold; }
    #dashboard #dashboard-signup:hover {
      background-color: #234056; }
  #dashboard #dashboard-auth #dashboard-newpoll {
    background-color: green;
    color: white;
    margin-right: 1.9em;
    width: 10em;
    font-weight: bold; }
    @media (max-width: 650px) {
      #dashboard #dashboard-auth #dashboard-newpoll {
        width: 8em;
        margin-right: 1.5em; } }
    #dashboard #dashboard-auth #dashboard-newpoll:hover {
      background-color: #004d00; }
  #dashboard #dashboard-auth #dashboard-mypolls {
    background-color: #325B7A;
    color: white;
    width: 10em;
    font-weight: bold; }
    @media (max-width: 650px) {
      #dashboard #dashboard-auth #dashboard-mypolls {
        width: 8em;
        margin-right: 1.5em; } }
    #dashboard #dashboard-auth #dashboard-mypolls:hover {
      background-color: #234056; }

#body, #body-dash {
  text-align: center; }
  #body i, #body-dash i {
    font-size: 4em; }
  #body #chart-icon, #body-dash #chart-icon {
    color: yellow; }
  #body #road-icon, #body-dash #road-icon {
    color: green; }
  #body #twitter-icon, #body-dash #twitter-icon {
    color: #55ACEE; }
  #body #body-login, #body-dash #body-login {
    text-align: center; }
    #body #body-login #twitter-login, #body-dash #body-login #twitter-login {
      background-color: #55ACEE;
      color: white;
      margin-top: 1em;
      font-size: 1.2em; }
      #body #body-login #twitter-login i, #body-dash #body-login #twitter-login i {
        font-size: 1.1em; }
      #body #body-login #twitter-login:hover, #body-dash #body-login #twitter-login:hover {
        background-color: #2795e9; }

#body-dash {
  text-align: center; }
  #body-dash ul {
    padding-top: .7em;
    display: inline-block; }
  #body-dash a:hover {
    cursor: pointer; }
  #body-dash li {
    margin-bottom: .7em;
    margin-right: .7em; }
  #body-dash #newpoll-inputs #poll-name {
    margin-bottom: .3em; }
  #body-dash #newpoll-inputs #spec {
    color: white;
    pointer-events: none; }
  #body-dash #newpoll-inputs i {
    font-size: 1.5em;
    padding-left: .3em;
    color: red; }
    #body-dash #newpoll-inputs i:hover {
      cursor: pointer;
      font-size: 2em; }
  #body-dash #newpoll-buttons {
    padding-top: .7em; }
    #body-dash #newpoll-buttons #poll-more-btn {
      background-color: gray;
      color: white;
      margin-right: .7em; }
      #body-dash #newpoll-buttons #poll-more-btn:hover {
        background-color: #676767; }
    #body-dash #newpoll-buttons #poll-save-btn {
      background-color: green;
      color: white; }
      #body-dash #newpoll-buttons #poll-save-btn:hover {
        background-color: #004d00; }
  #body-dash #body-mypolls #mypolls-polls {
    display: inline-block;
    margin: 0 auto; }
    #body-dash #body-mypolls #mypolls-polls h3 {
      font-size: 1.4em;
      padding-left: .7em;
      padding-right: .7em; }
    #body-dash #body-mypolls #mypolls-polls .saved-poll {
      margin-bottom: 1.9em;
      padding: 1.9em; }
      #body-dash #body-mypolls #mypolls-polls .saved-poll .option {
        color: green; }
      #body-dash #body-mypolls #mypolls-polls .saved-poll .result {
        text-align: center;
        padding-left: 1.4em; }
      #body-dash #body-mypolls #mypolls-polls .saved-poll .url {
        color: #4d4dff;
        font-size: .8em; }
      #body-dash #body-mypolls #mypolls-polls .saved-poll .poll-graph {
        display: inline-block;
        width: 20em;
        height: auto; }
      #body-dash #body-mypolls #mypolls-polls .saved-poll .poll-msg {
        font-size: 1.1em;
        color: red;
        font-weight: bold; }
      #body-dash #body-mypolls #mypolls-polls .saved-poll #poll-remove-btn {
        background-color: red;
        color: white;
        padding-right: .7em;
        margin-bottom: .7em; }
        #body-dash #body-mypolls #mypolls-polls .saved-poll #poll-remove-btn:hover {
          background-color: #cc0000; }
      #body-dash #body-mypolls #mypolls-polls .saved-poll #twitter-share {
        background-color: #55ACEE;
        color: white;
        padding-left: .7em;
        margin-right: .7em;
        margin-bottom: .7em; }
        #body-dash #body-mypolls #mypolls-polls .saved-poll #twitter-share i {
          font-size: 1.2em; }
        #body-dash #body-mypolls #mypolls-polls .saved-poll #twitter-share:hover {
          background-color: #2795e9; }
      #body-dash #body-mypolls #mypolls-polls .saved-poll:hover {
        box-shadow: .3em .3em .7em #000;
        cursor: pointer; }
  #body-dash #body-success h1 {
    color: green; }
  #body-dash #body-success p {
    font-size: 1.8em;
    font-weight: bold; }

#footer {
  padding-top: 3em;
  text-align: center; }

#vote #poll {
  width: 70%;
  margin: 0 auto;
  margin-top: 7em; }
  #vote #poll .public-option {
    margin: .5em;
    padding: .3em;
    border: .1em solid black;
    width: 100%;
    display: inline-block; }
    #vote #poll .public-option input {
      margin-right: .5em; }
  #vote #poll #vote-btn {
    margin: .5em;
    background-color: green;
    color: white; }
    #vote #poll #vote-btn:hover {
      background-color: #009a00; }
#vote #success {
  text-align: center; }
  #vote #success h1 {
    color: green; }

/*# sourceMappingURL=style.css.map */
